.profile {
    width: 250px;
    margin: 15px auto;
    border-radius: 7px;
    background-color: whitesmoke;
    overflow: hidden;
}

.description {
    text-align: center;
    width: 220px;
}

.avatar {
    background: #8fb5a8;
    width: 100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.name {
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
}

.tag {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    color: rgb(110, 110, 110);
}

.location {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    color: rgb(110, 110, 110);
}

.stats {
    display: flex;
    justify-content: space-around;
    text-align: center;

    margin-top: 15px;
    background-color: rgb(200, 204, 209);

    border-top: 1px solid black;
    
}

.stats__item {
    width: 33.3%;
    padding: 10px;
    border-right: 1px solid black;
}

.stats__item:last-child {
    border-right: 0;
}

.label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: rgb(110, 110, 110);
}

.quantity {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 700;
}