.item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
  
    background-color: aliceblue;
    border-radius: 7px;
  }
  .item:last-child {
    margin-bottom: 0;
  }
  .online {
    content: '';
    width: 10px;
    height: 10px;
  
    border-radius: 50%;
    background-color: green;
  }
  .offline {
    content: '';
    width: 10px;
    height: 10px;
  
    border-radius: 50%;
    background-color: red;
  }
  .avatar {
    margin-left: 15px;
    border-radius: 13px;
    background-color: rgb(155, 201, 75);
  }
  .name {
    margin-left: 25px;
    font-weight: 700;
  }