.transaction_history {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(218, 218, 212, 0.89) 0px 5px 25px 5px;
}

.thead {
    height: 35px;
    background-color: rgb(0 188 213);

    font-size: 14px;
    color: rgb(219, 219, 219);
}

.title {
    font-weight: 700;
}

.line {
    padding: 20px;
    height: 35px;
    background-color: rgb(255 255 255);
}

.line:nth-child(2n) {
    background-color: rgb(236 241 243);
}

.value__title {
    font-size: 12px;
    font-weight: 500;
}

.value {
    font-size: 12px;
}
